.footer-panel
    background-color $light-grey
    border 0
    padding 100px 0 0px
    font-family $Raleway
    margin-top 0
    position relative

    .social-links
        text-align center
        position absolute
        top 0
        left 0
        width 100%
        margin 0 auto
        height 60px
        background-color $dark-grey
        line-height 60px
        font-weight $font300

        .links
            float none
            display inline-block
            a
                text-decoration none
                color $white
                font-size $h6
                text-transform capitalize

                img
                    width 33px
                    margin-right 10px
                    @media screen and (max-width $screen-sm-max)
                        position absolute
                        left 0
                        top 13px


                @media screen and (max-width $screen-sm-max)
                    text-indent -9999px

                div
                    position relative

    .footer-links
        float none
        margin 0 auto
        display inline-block
        text-align center

        .links
            float none
            display inline-block
            padding 0 40px
            margin 0

            span
                @media screen and (max-width $screen-sm-max)
                    width 100%
                    text-align center

            @media screen and (max-width $screen-sm-max)
                width 100%
                text-align center
                margin-bottom 30px

            @media screen and (min-width $screen-sm-max)
                margin-bottom 10px

            a
                color $white
                font-weight 200
                font-size 20px
                letter-spacing 0.5px

                @media screen and (max-width $screen-sm-max)
                    width 100%
                    text-align center


    .legal-links
        float none
        margin 0 auto
        display inline-block
        text-align center
        margin 20px 0

        @media screen and (max-width $screen-sm-max)
            margin 0

        .links
            float none
            display inline-block
            padding 0 40px
            margin -7px 0

            span
                @media screen and (max-width $screen-sm-max)
                    width 100%
                    text-align center

            @media screen and (max-width $screen-sm-max)
                width 100%
                text-align center
                margin-bottom 30px

            a
                color $white
                font-weight 200
                font-size 20px
                letter-spacing 0.5px

                @media screen and (max-width $screen-sm-max)
                    width 100%
                    text-align center


        .richtext
            float none
            display inline-block
            padding 0 40px

            @media screen and (max-width $screen-sm-max)
                width 100%
                text-align center
                margin-bottom 30px

            p
                font-size 20px
                font-weight 200
                color $white

                @media screen and (max-width $screen-sm-max)
                    width 100%
                    text-align center

