.center-content
        float none
        display block
        clear both
        margin 0 auto
        padding-top 40px
        padding-bottom 106px
        @media screen and (max-width $screen-xs-max)
            padding-bottom 19px
        p
            font-family $Raleway
            font-size 20px
            font-weight $font300
            font-style normal
            font-stretch normal
            line-height 1.8
            text-align center
            color $dark-grey
            margin-bottom 30px
.mid-content
        background url(/static/img/GreenLeaves_BottomRight.png) no-repeat
        background-size 260px
        background-position right -30px bottom -44px
        padding-bottom 20px
        @media screen and (max-width $screen-xs-max)
            background-size 235px
            background-position right -19px bottom -42px
            padding-bottom 121px

.legal-notice-header
        background url(/static/img/legal-notice-header-bg.png)
        background-size 100%
        padding 27px 15px
        h1
            font-size 60px
            font-weight 300
            font-family $Raleway
            font-style normal
            font-stretch normal
            text-align center
            color #185f4d
            margin 0
            @media screen and (max-width $screen-sm-max)
                font-size 32px







