button-1()
    width 188px
    height 44px
    font-size $CTA-copy
    color $white
    border 0.5px solid $live-green
    border-radius 100px
    display inline-block
    line-height 44px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.3)
    background url('/static/img/Chevrons_Right_White@2x.png.png') $live-green no-repeat
    background-position center right 18px
    text-decoration none
    background-size 14px

    &:hover
        background-color $white
        color $live-green
        border 0.5px solid $live-green
        transition all 0.2s ease

button-2()
    width 188px
    height 44px
    background-color
    font-size $CTA-copy
    color $text-grey
    border 0.5px solid $white
    border-radius 100px
    display inline-block
    line-height 44px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.3)
    background url('/static/img/Chevrons_Right_Grey@2x.png.png') $white no-repeat
    background-position center right 18px
    text-decoration none
    background-size 14px

    &:hover
        background-color $white
        color $live-green
        border 0.5px solid $live-green
        transition all 0.2s ease

link()
    color $live-green
    font-size $small-sub-heading
    font-weight normal
    font-family $Raleway
    &:hover
        text-decoration none
        
// ========= Alignment =================

center-me()
    margin 0 auto
    
extend-row-mixin()
    margin 0px -15px
    
extend-row-mixin-PDP()
    margin 0px 100% * (-1 * 120px/(1440px - (120px * 2)))
    
// ========= PDP =================
        
// Expands content for flex containers to fill height
expand-me-mixin()
    display flex
    flex-direction column
    flex-grow 1
    flex-shrink 0
    flex-basis auto

// Product addt'l info mixin, used for PDP buttons
product-additional-info-button-mixin()
    cursor pointer
    text-decoration none
    width 200px
    background #fff
    color #989898
    border 1px solid #989898
    box-shadow 0 2px 5px 2px #d0d0d0
    border-radius 30px
    padding 10px
    text-align center
    transition .3s
    display block
    font-size 20px
    line-height 24px
    font-weight 300
    center-me()
    margin-bottom 20px
    span:after
        content ""
        display inline-block
        background-image url("/static/img/Chevrons_Right_Grey.png")
        height 20px
        width 12px
        margin-left 10px
        position relative
        top 3px
        background-repeat no-repeat
        background-size 12px 100%

    &:hover
        background #185346
        color #fff
        span:after
            background-image url("/static/img/Chevrons_Right_White.png")
