// ========= Fonts ============

$Raleway = 'Raleway', sans-serif;

// ========= Font-weights =========

$font100 = 100;
$font200 = 200;
$font300 = 300;
$font400 = 400;
$font500 = 500;
$font600 = 600;
$font700 = 700;
$font800 = 800;

// ========= Font-size =============

$h1 = 64px;
$h2 = 60px;
$h3 = 48px;
$h4 = 36px;
$h5 = 32px;
$h6 = 28px;

$medium-heading = 40px;
$content-title = 28px;
$small-sub-heading = 24px;
$CTA-copy = 20px;
$small-CTA-copy = 18px;

$mobile-h1 = 48px;
$mobile-h2 = 32px;
$mobile-h3 = 24px;
$mobile-h4 = 20px;
$mobile-h5 = 18px;
$mobile-h6 = 16px;

// ========== Colors ===============

$white = #ffffff;
$black = #000000;
$live-green = #185346;
$live-green-light = #2f827a;
$category-title = #0a6070;
$text-grey = #636363;
$grey = #989898;
$dark-grey = #4a4a4a;
$light-grey = #797979;
$error-color = #cb2028

// ========= Media Quries ==============

$screen-sm-max = 1024px
	

