.store-locator-container
    padding 0

    .iframe-container
        width 100%
        max-width 400px
        margin 30px auto
        height 80vh
        overflow hidden

        @media screen and (min-width $screen-xs)
            width 90%
            max-width 1200px
            margin 50px auto
            
        @media screen and (min-width $screen-sm)
            margin 100px auto

        .iframe-content
            width 100%
            height 100%
